<div class="post">
    
    {{#each posts as |post|}}

    <h2><a href="/post/{{post.id}}">{{post.name}}</a></h2>
   <p>Created by {{user.name}} on {{date_created}}</p>
  <p>{{content}}</p>

    {{/each}}

</div>